@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, georgia-serif;
     background-color: #FFFFFF;
     margin: 0;
     padding: 0;
     color: #2b5329;
	margin: 0 auto;
}
.homePage {
	background: #FFFFFF;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.header {
	background: #DE497A;
	text-align: center;
	margin: 20px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #F5655D;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FA8C53;
	margin: 15px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #FA9137;
	margin: 20px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #0000FF;
}
a:visited {
     color: #00FF00;
}
a:hover, a:active, a:focus { 
	color: #FF0000
     text-decoration: underline;
}
